body {
	background-color: #a52f54;
}

#clock {
	height: 640px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	display: flex;
	justify-content: center;
	align-items: center;
}

#circle1 { /*achtergrond circle*/
	width: 340px;
	height:	340px;
	border-radius: 250px;
	background-color: grey;
	position: absolute;
	z-index: 2;
}

#circle2 { /*voorgrond circel*/
	width: 330px;
	height:	330px;
	border-radius: 250px;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#digital {
	width: 120px;
	height: 45px;
	background-color: rgba(0,0,0,0.4);
	margin-bottom: 60px;
	font-size: 28px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.number {
	width: 5px;
	height: 10px;
	background-color: grey;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve {
	margin-left: 10px;
} 

